header {
    background: #333;
  }
h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    color: #eee;
    text-align: center;
  } 

#wrapper {
   margin: auto;
   width: 600px;

  }

h2 {
    text-align: center; 
    font-size: 20px;
}


/* .container {
    width: 600px;
    margin: auto;
    
} */

#resListCard{
    padding: 10px;
    margin-bottom: 5px;
    width: 380px;
    height:auto;
    /* border-bottom: 1px solid #eaeaea; */
    border-top: 1px solid #eaeaea;
}

.resName{
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FF6347;
}
.resLocation, .resCuisine{
    font-size: 14px;
    padding: 2px;
    color:#999;
}

.stars{
    float: right;
    align-content: flex-end;
    font-size: 1em;
    color: #FF6347;
    padding: 0;
}

img{
    width: 80px;
    height: 72px;
    border-radius: 5px;
}


#pure-form {
margin: center;
align-content: center;
}
#pure-button {
background-color: #333;
}